
button, .button {
  display: block;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  transition-duration: 0.3s;
  margin-top: 65px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: white;
  color: #4caf50;
  border: 2px solid #4caf50;
}

.button {
    margin-top: 30px;
}

input {
    margin: 3px;
}
